html {
  font-size: 100%;
}
body {
  background-color: hsl(0, 0%, 91%);
  font-family: "Courier New", "Courier", sans-serif;
}
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s;
}
.container {
  display: flex;
  position: relative;
}
[class^="day"] {
  min-height: 100vh;
}
.nmbr-container {
  display: flex;
  padding-left: 4em;
}
[class*="__bg"] {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.day-1__bg {
  font-size: 100%;
  color: white;
  flex-direction: column;
  gap: 2rem;
  background: linear-gradient(45deg, #43389f 25%, #4ec6ca);
}
[class*="number"] {
  background-color: white;
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.349) 0.2em 0.1em 0.5em;
}
.dy-1__number__1-1 {
  position: relative;
  height: 12em;
  width: 2.5em;
  z-index: 100;
}
.dy-1__number__1-2 {
  height: 5em;
  width: 2.5em;
  position: absolute;
  left: 2em;
  top: 0.4em;
  transform: rotate(45deg);
  background-color: rgb(236, 236, 236);
}
.dy-1__number__0-1,
.dy-1__number__0-2 {
  background-color: transparent;
  height: 12em;
  width: 12em;
  border: 3em solid white;
  border-radius: 50%;
  position: relative;
}
.dy-1__number__0-1 {
  left: -1em;
  z-index: 4;
}
.dy-1__number__0-2 {
  position: relative;
  left: -4em;
}
.dy-1__title {
  font-size: 10.5em;
  font-weight: 700;
}
.dy-1__subtitle {
  font-weight: 700;
  font-size: 3.1em;
}

.day-2__bg {
  background-color: rgba(26, 26, 226, 0.452);
}
.dy-2__container {
  min-height: 10rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  justify-content: center;
  position: relative;
}
[class^="dy-2__hamburger__bar"] {
  width: 12rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  background-color: white;
  position: absolute;
  box-shadow: 0.2rem 0.2rem 0.7rem rgb(56, 56, 56);
  transition: 0.8s;
}
.dy-2__container.open .dy-2__hamburger__bar-1 {
  animation: bar-1__open 0.8s ease-in-out forwards;
  box-shadow: 0.2rem 0.2rem 2rem 0.2rem black;
}
.dy-2__container .dy-2__hamburger__bar-1 {
  animation: bar-1__close 0.8s ease-in-out forwards;
}
.dy-2__container.open .dy-2__hamburger__bar-2 {
  animation: bar-2__open 0.8s ease-in-out forwards;
}
.dy-2__container .dy-2__hamburger__bar-2 {
  animation: bar-2__close 0.8s ease-in-out forwards;
}
.dy-2__container.open .dy-2__hamburger__bar-3 {
  animation: bar-3__open 0.8s ease-in-out forwards;
  box-shadow: 0.2rem 0.2rem 2rem 0.2rem black;
}
.dy-2__container .dy-2__hamburger__bar-3 {
  animation: bar-3__close 1s ease-in-out forwards;
}

@keyframes bar-1__open {
  0% {
    top: 0;
    transform: translate3d(0, 0, 0) rotate(0);
  }
  50% {
    top: 25%;
    transform: translate3d(0, 2em, 0) rotate(0);
  }
  100% {
    top: 25%;
    transform: translate3d(0, 2em, 0) rotate(45deg);
  }
}
@keyframes bar-1__close {
  0% {
    top: 25%;
    transform: translate3d(0, 2em, 0) rotate(45deg);
  }
  50% {
    top: 25%;
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  100% {
    top: 0;
    transform: translate3d(0, 0, 0) rotate(0);
  }
}

@keyframes bar-2__open {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes bar-2__close {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bar-3__open {
  0% {
    bottom: 0%;
    transform: translateY(0) rotate(0);
  }
  50% {
    bottom: 25%;
    transform: translateY(-2em) rotate(0);
  }
  100% {
    bottom: 20%;
    transform: translateY(-2em) rotate(-45deg);
  }
}
@keyframes bar-3__close {
  0% {
    bottom: 25%;
    transform: translateY(-2em) rotate(135deg);
  }
  50% {
    bottom: 25%;
    transform: translateY(0) rotate(0deg);
  }
  100% {
    bottom: 0;
    transform: translateY(0) rotate(0);
  }
}
@media (max-width: 500px) {
  .day-1__bg {
    font-size: 60%;
  }
}
