html {
  font-size: 100%;
}
body {
  background-color: hsl(0, 0%, 91%);
  font-family: "Courier New", "Courier", sans-serif;
}
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s;
}
.container {
  display: flex;
  position: relative;
}
[class^="day"] {
  min-height: 100vh;
}
.nmbr-container {
  display: flex;
  padding-left: 4em;
}
[class*="__bg"] {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.day-1__bg {
  font-size: 100%;
  color: white;
  flex-direction: column;
  gap: 2rem;
  background: linear-gradient(45deg, #43389f 25%, #4ec6ca);
}
[class*="number"] {
  background-color: white;
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.349) 0.2em 0.1em 0.5em;
}
.dy-1__number__1-1 {
  position: relative;
  height: 12em;
  width: 2.5em;
  z-index: 100;
}
.dy-1__number__1-2 {
  height: 5em;
  width: 2.5em;
  position: absolute;
  left: 2em;
  top: 0.4em;
  transform: rotate(45deg);
  background-color: rgb(236, 236, 236);
}
.dy-1__number__0-1,
.dy-1__number__0-2 {
  background-color: transparent;
  height: 12em;
  width: 12em;
  border: 3em solid white;
  border-radius: 50%;
  position: relative;
}
.dy-1__number__0-1 {
  left: -1em;
  z-index: 4;
}
.dy-1__number__0-2 {
  position: relative;
  left: -4em;
}
.dy-1__title {
  font-size: 10.5em;
  font-weight: 700;
}
.dy-1__subtitle {
  font-weight: 700;
  font-size: 3.1em;
}

.day-2__bg {
  background-color: rgba(26, 26, 226, 0.452);
}
.dy-2__container {
  min-height: 15rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  justify-content: center;
  position: relative;
}
[class^="dy-2__hamburger__bar"] {
  display: block;
  width: 12rem;
  height: 2rem;
  background-color: white;
}
.dy-2__hamburguer__bar-1 {
}
@media (max-width: 500px) {
  .day-1__bg {
    font-size: 60%;
  }
}
