html {
  font-size: 100%;
}
body {
  background-color: hsl(0, 0%, 91%);
  font-family: "Courier New", "Courier", sans-serif;
}
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s;
}
:root {
  --day-container-height: 2em;
}
.container {
  display: flex;
  position: relative;
}
.container__header {
  display: flex;
  align-items: center;
  height: var(--day-container-height);
  font-size: 1.5em;
  padding-left: 2em;
}
[class^="day"] {
  min-height: 100vh;
}
.nmbr-container {
  display: flex;
  padding-left: 4em;
}
[class*="__bg"] {
  width: 100%;
  height: calc(100vh - var(--day-container-height));
  display: flex;
  align-items: center;
  justify-content: center;
}
.day-1__bg {
  font-size: 100%;
  color: white;
  flex-direction: column;
  gap: 2rem;
  background: linear-gradient(45deg, #43389f 25%, #4ec6ca);
}
[class*="number"] {
  background-color: white;
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.349) 0.2em 0.1em 0.5em;
}
.dy-1__number__1-1 {
  position: relative;
  height: 12em;
  width: 2.5em;
  z-index: 100;
}
.dy-1__number__1-2 {
  height: 5em;
  width: 2.5em;
  position: absolute;
  left: 2em;
  top: 0.4em;
  transform: rotate(45deg);
  background-color: rgb(236, 236, 236);
}
.dy-1__number__0-1,
.dy-1__number__0-2 {
  background-color: transparent;
  height: 12em;
  width: 12em;
  border: 3em solid white;
  border-radius: 50%;
  position: relative;
}
.dy-1__number__0-1 {
  left: -1em;
  z-index: 4;
}
.dy-1__number__0-2 {
  position: relative;
  left: -4em;
}
.dy-1__title {
  font-size: 10.5em;
  font-weight: 700;
}
.dy-1__subtitle {
  font-weight: 700;
  font-size: 3.1em;
}

.day-2__bg {
  background-color: rgba(26, 26, 226, 0.452);
}
.dy-2__container {
  min-height: 10rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  justify-content: center;
  position: relative;
}
[class^="dy-2__hamburger__bar"] {
  width: 12rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  background-color: white;
  position: absolute;
  box-shadow: 0.2rem 0.2rem 0.7rem rgb(56, 56, 56);
  transition: 0.8s;
}
.dy-2__container.open .dy-2__hamburger__bar-1 {
  animation: bar-1__open 0.8s ease-in-out forwards;
  box-shadow: 0.2rem 0.2rem 2rem 0.2rem black;
}
.dy-2__container .dy-2__hamburger__bar-1 {
  animation: bar-1__close 0.8s ease-in-out forwards;
}
.dy-2__container.open .dy-2__hamburger__bar-2 {
  animation: bar-2__open 0.8s ease-in-out forwards;
}
.dy-2__container .dy-2__hamburger__bar-2 {
  animation: bar-2__close 0.8s ease-in-out forwards;
}
.dy-2__container.open .dy-2__hamburger__bar-3 {
  animation: bar-3__open 0.8s ease-in-out forwards;
  box-shadow: 0.2rem 0.2rem 2rem 0.2rem black;
}
.dy-2__container .dy-2__hamburger__bar-3 {
  animation: bar-3__close 1s ease-in-out forwards;
}

@keyframes bar-1__open {
  0% {
    top: 0;
    transform: translate3d(0, 0, 0) rotate(0);
  }
  50% {
    top: 25%;
    transform: translate3d(0, 2em, 0) rotate(0);
  }
  100% {
    top: 25%;
    transform: translate3d(0, 2em, 0) rotate(45deg);
  }
}
@keyframes bar-1__close {
  0% {
    top: 25%;
    transform: translate3d(0, 2em, 0) rotate(45deg);
  }
  50% {
    top: 25%;
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  100% {
    top: 0;
    transform: translate3d(0, 0, 0) rotate(0);
  }
}

@keyframes bar-2__open {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes bar-2__close {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bar-3__open {
  0% {
    bottom: 0%;
    transform: translateY(0) rotate(0);
  }
  50% {
    bottom: 25%;
    transform: translateY(-2em) rotate(0);
  }
  100% {
    bottom: 20%;
    transform: translateY(-2em) rotate(-45deg);
  }
}
@keyframes bar-3__close {
  0% {
    bottom: 25%;
    transform: translateY(-2em) rotate(135deg);
  }
  50% {
    bottom: 25%;
    transform: translateY(0) rotate(0deg);
  }
  100% {
    bottom: 0;
    transform: translateY(0) rotate(0);
  }
}

.day-3__bg {
  background-color: rgb(0, 0, 0);
}
.dy-3__container {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  animation: dy-3-bg-shadow 4s infinite;
}
.dy-3__sky {
  background-color: rgb(54, 191, 245);
  height: 70%;
  width: 100%;
  position: absolute;
  top: 0em;
}
.dy-3__ground {
  position: absolute;
  top: 70%;
  height: 30%;
  width: 100%;
  background-color: rgb(238, 204, 111);
}
.dy-3__sun {
  background-color: yellow;
  height: 20%;
  width: 20%;
  position: absolute;
  border-radius: 50%;
  top: 2em;
  left: 1em;
  transform-origin: 200% 800%;
  animation: dy3-sunset 4s ease-in-out infinite;
}
.dy-3__pyramid-left {
  background-color: rgb(240, 248, 255);
  height: 20%;
  width: 50%;
  position: absolute;
  top: 50.5%;
  left: 4em;
  clip-path: polygon(50% 0%, 0 100%, 69% 100%);
  z-index: 100;
  animation: dy3-pyramid-shadow 4s infinite;
}
.dy-3__pyramid-right {
  background-color: rgb(163, 163, 163);
  height: 20%;
  width: 50%;
  position: absolute;
  top: 50.5%;
  left: 4em;
  clip-path: polygon(50% 0%, 100% 100%, 69% 100%);
  z-index: 100;
  animation: dy3-pyramid-shadow 4s infinite reverse;
}
.dy-3__shadow {
  position: absolute;
  z-index: 100;
  top: 70%;
  left: 19%;
  height: 2em;
  width: 53%;
  transform-origin: 50% 0%;
  clip-path: polygon(95% 0, 0 0, 100% 31%);
  animation: dy-3-floor-shadow 4s infinite;
}
@keyframes dy3-sunset {
  0% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes dy3-pyramid-shadow {
  0% {
    background-color: rgb(240, 248, 255);
  }
  30% {
    background-color: rgb(240, 248, 255);
  }
  60% {
    background-color: rgb(240, 248, 255);
  }
  100% {
    background-color: rgb(163, 163, 163);
  }
}
@keyframes dy-3-floor-shadow {
  0% {
    background: rgba(0, 0, 0, 0.158);
    transform: scaleY(0.4);
  }
  25% {
    background: rgba(0, 0, 0, 0.158);
    clip-path: polygon(95% 0, 0 0, 100% 31%);

    background: rgba(0, 0, 0, 0.096);
    transform: scaleY(5);
  }
  50% {
    clip-path: polygon(95% 0, 0 0, 50% 73%);
    background: rgba(0, 0, 0, 0);
  }
  75% {
    background: rgba(0, 0, 0, 0.068);
    transform: scaleY(2);
  }
  100% {
    background: rgba(0, 0, 0, 0.562);
    clip-path: polygon(95% 0, 0 0, 0 40%);
  }
}
@keyframes dy-3-bg-shadow {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.767);
  }
}

.day-4__bg {
  background-color: rgb(216, 30, 46);
}
.day-4__bg > * {
  border-radius: 50%;
  background-color: aliceblue;
  position: absolute;
}
.dy-4__circle-1 {
  height: 15rem;
  width: 15rem;
  z-index: 100;
  animation: dy-4__circle-1 2s infinite alternate;
}
.dy-4__circle-2 {
  height: 10rem;
  width: 10rem;
  z-index: 200;
  animation: dy-4__circle-2 2s infinite alternate;
}
.dy-4__circle-3 {
  height: 5rem;
  width: 5rem;
  z-index: 300;
  animation: dy-4__circle-3 2s infinite alternate;
}
@keyframes dy-4__circle-1 {
  0%,
  5% {
    box-shadow: 0.8rem 0.8rem 1rem 0.4rem rgba(0, 0, 0, 0.24);
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0.8rem 0.8rem 1rem 0.8rem rgba(0, 0, 0, 0.24);
  }
}
@keyframes dy-4__circle-2 {
  0%,
  40% {
    transform: scale(0);
    box-shadow: 0.8rem 0.8rem 1rem 0.2rem rgba(0, 0, 0, 0.24);
  }
  100% {
    transform: scale(1);
    box-shadow: 0.8rem 0.8rem 2rem 1rem rgba(0, 0, 0, 0.24);
  }
}
@keyframes dy-4__circle-3 {
  0%,
  70% {
    transform: scale(0);
    box-shadow: 0.8rem 0.8rem 0.2rem 0rem rgba(0, 0, 0, 0.24);
  }
  100% {
    transform: scale(1);
    box-shadow: 0.8rem 0.8rem 2rem 0.4rem rgba(0, 0, 0, 0.336);
  }
}

.day-5__bg {
  background-color: rgb(19, 141, 125);
  font-family: "open-sans";
}
.dy__5-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 18rem;
  width: min(23rem, 100%);
  background-color: rgb(255, 255, 255);
}
.dy__5-container__upper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(241, 186, 100);
  padding: 1rem;
  color: rgb(255, 255, 255);
}
.dy__5-container__upper:first-child h4 {
  font-weight: 600;
  text-transform: uppercase;
}
.dy__5-container__upper:first-child span {
  font-size: 0.8rem;
}
.dy__5-container__upper-right {
  text-align: right;
}
.dy__5-container__bottom {
  position: relative;
  width: 95%;
}
.dy__5-container__bottom-parameters {
  display: flex;
  gap: 5rem;
  justify-content: flex-end;
  padding: 0.5rem 0 1.5rem;
}
.dy__5-container__bottom-parameters > * {
  position: relative;
}
.dy__5-container__bottom-parameters__views::before,
.dy__5-container__bottom-parameters__purchases::before {
  content: "";
  width: 1.5rem;
  height: 0.2rem;
  position: absolute;
  left: -2rem;
  top: 50%;
}
.dy__5-container__bottom-parameters__views::before {
  background-color: rgb(255, 67, 67);
}
.dy__5-container__bottom-parameters__purchases::before {
  background-color: rgb(63, 63, 255);
}
.dy__5-container__bottom-graphics {
  width: 100%;
  min-height: 8rem;
}
.dy__5-container__bottom-graphics__background {
  position: relative;
  height: 7rem;
  width: 100%;
}
.dy__5__line-1,
.dy__5__line-2,
.dy__5__line-3 {
  position: absolute;
  width: 100%;
  height: 0.1rem;
  background-color: rgb(99, 95, 95);
  top: 0;
}
.dy__5__line-2 {
  top: 50%;
}
.dy__5__line-3 {
  top: 100%;
}
.dy__5-container__bottom-graphics__views,
.dy__5-container__bottom-graphics__purchases {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.dy__5-container__bottom-graphics__views svg,
.dy__5-container__bottom-graphics__purchases svg {
  width: 100%;
}
.dy__5-container__bottom-graphics__views svg polyline,
.dy__5-container__bottom-graphics__purchases svg polyline {
  fill: none;
  stroke-width: 0.17rem;
}
.dy__5-container__bottom-graphics__views svg polyline {
  stroke: rgb(255, 67, 67);
}
.dy__5-container__bottom-graphics__purchases svg polyline {
  stroke: rgb(63, 63, 255);
}
[class^="dy__5-point__red"],
[class^="dy__5-point__blue"] {
  background-color: rgb(255, 67, 67);
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  border-radius: 50%;
  z-index: 100;
}
[class^="dy__5-point__blue"] {
  background-color: rgb(63, 63, 255);
}
.dy__5-point__red-1 {
  top: 54.5%;
  left: 2%;
}
.dy__5-point__red-2 {
  top: 32.5%;
  left: 18%;
}
.dy__5-point__red-3 {
  top: 43.5%;
  left: 33.7%;
}
.dy__5-point__red-4 {
  top: 29.5%;
  left: 50.5%;
}
.dy__5-point__red-5 {
  top: 48%;
  left: 66%;
}
.dy__5-point__red-6 {
  top: 58%;
  left: 83%;
}
.dy__5-point__red-7 {
  top: 37%;
  left: 98%;
}
.dy__5-point__blue-1 {
  top: 67%;
  left: 2%;
}
.dy__5-point__blue-2 {
  top: 59.5%;
  left: 18%;
}
.dy__5-point__blue-3 {
  top: 69.5%;
  left: 34%;
}
.dy__5-point__blue-4 {
  top: 61%;
  left: 51%;
}
.dy__5-point__blue-5 {
  top: 65%;
  left: 66%;
}
.dy__5-point__blue-6 {
  top: 75%;
  left: 83%;
}
.dy__5-point__blue-7 {
  top: 68%;
  left: 98%;
}
.dy__5-container__bottom__days {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  gap: 0.3rem;
  width: 100%;
}
.dy__5-container__bottom__days > * {
  font-size: 0.9rem;
  color: rgb(99, 99, 99);
}
.dy__5-day {
  width: 100%;
  text-align: center;
}
.point-value {
  color: white;
  font-size: 0.5rem;
  visibility: hidden;
  background-color: inherit;
  border-radius: 0.5rem;
  text-align: center;
  padding: 0.5rem 0.3rem;
  top: -2rem;
  left: -0.8rem;
  opacity: 0;
  transition: 0.3s;
  position: absolute;
}
.point-value::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background-color: inherit;
  position: absolute;
  bottom: -0.2rem;
  left: 40%;
  transform: rotate(45deg);
}
[class^="dy__5-point__"]:hover {
  cursor: pointer;
}
[class^="dy__5-point__"]:hover .point-value {
  visibility: visible;
  opacity: 1;
  top: -2.5rem;
  z-index: 0;
}
@media (max-width: 500px) {
  .day-1__bg {
    font-size: 60%;
  }
}
